html,
body,
#app {
    height: 100%;
    width: 100%;
    margin: 0;
}

/* mobile dragging behavior control */
html,
body {
    overscroll-behavior: none;
    touch-action: pan-y pan-x;
}

@font-face {
    font-family: Torus;
    src: url(/font/Torus-Regular.734ed3ae.otf);
}

@font-face {
    font-feature-settings: dlig 0; /* dlig 为酌情连字 */
    font-family: "anthropicSerif";
    src: url(/font/18f7e26d8fc3ca09-s.p.woff2) format("woff2");
    font-display: swap;
    font-weight: 300 800;
    font-style: normal;
}

@font-face {
    font-feature-settings: dlig 0;
    font-family: anthropicSans;
    src: url(/font/202112071e5d7466-s.p.woff2) format("woff2");
    font-display: swap;
    font-weight: 300 800;
    font-style: normal;
}

:root {
    --font-content: Inter, sans-serif;
    --font-content-override: ;
    --font-default: Torus, Inter, "Helvetica Neue", Tahoma, Arial, "Hiragino Kaku Gothic ProN", Meiryo, "Microsoft YaHei", "Apple SD Gothic Neo", sans-serif;

    --hsl-b1: 226, 10%, 40%;
    --hsl-b2: 226, 10%, 30%;
    --hsl-b4: 226, 10%, 20%;
    --hsl-b5: 226, 10%, 15%;
    --hsl-b6: 226, 10%, 10%;
    --hsl-c1: 226, 40%, 100%;
    --hsl-c2: 226, 40%, 90%;
    --hsl-h1: 226, 100%, 70%;
    --hsl-l1: 226, 40%, 80%;
    --hsl-l2: 226, 40%, 75%;
    --hsl-pink-1: 333, 100%, 70%;

    --card-item-spacing: 10px;
    --avatar-size: 60px;
    --icon-gutter: 6px;
    --status-icon-margin: 10px;
}

/* BBCode 内容区域的基础重置 */
.bbcode *,
::after,
::before,
::backdrop,
::file-selector-button {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0 solid;
}

@media (min-width: 900px) {
    .bbcode_preview {
        max-width: 1000px;
    }
}
