@layer reset, base, components, utilities, tailwind-utilities;

/* reset layer */
@import "./reset.css" layer(reset);

/* Tailwind CSS */
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/utilities.css" layer(tailwind-utilities);

/* base layer */
@import "./base.css" layer(base);
@import "./scrollbar.css" layer(base);
@import "./tailwind.css" layer(base);

/* components layer */
@import "./bbcode-base.css" layer(components);
@import "./bbcode-components.css" layer(components);
@import "./audio-player.css" layer(components);
@import "./user-card.css" layer(components);
