@layer theme, base, components, utilities;

@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/utilities.css" layer(utilities);

html,
body,
#app {
    height: 100%;
    width: 100%;
    margin: 0;
}

@font-face {
    font-family: Torus;
    src: url(/public/font/Torus-Regular.734ed3ae.otf);
}

:root {
    --font-content: Inter, sans-serif;
    --font-content-override: ;
    --font-default: Torus, Inter, "Helvetica Neue", Tahoma, Arial, "Hiragino Kaku Gothic ProN", Meiryo, "Microsoft YaHei", "Apple SD Gothic Neo", sans-serif;

    --hsl-b1: 226, 10%, 40%;
    --hsl-b2: 226, 10%, 30%;
    --hsl-b4: 226, 10%, 20%;
    --hsl-b5: 226, 10%, 15%;
    --hsl-b6: 226, 10%, 10%;
    --hsl-c1: 226, 40%, 100%;
    --hsl-c2: 226, 40%, 90%;
    --hsl-h1: 226, 100%, 70%;
    --hsl-l1: 226, 40%, 80%;
    --hsl-l2: 226, 40%, 75%;
    --hsl-pink-1: 333, 100%, 70%;

    --card-item-spacing: 10px;
    --avatar-size: 60px;
    --icon-gutter: 6px;
    --status-icon-margin: 10px;
}

.bbcode *,
::after,
::before,
::backdrop,
::file-selector-button {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0 solid;
}

.custom-scrollbar::-webkit-scrollbar {
    width: 8px;
}
.custom-scrollbar::-webkit-scrollbar-track {
    background: #1e1e1e;
    border-radius: 4px;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #3c3c3c;
    border-radius: 4px;
}

.bbcode {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.5;
    overflow-wrap: anywhere;

    a {
        color: hsl(var(--hsl-l2));
        text-decoration: none;
        transition: color 80ms linear;
        background-color: transparent;
    }

    a:active,
    a:hover,
    a:link,
    a:visited {
        outline-style: none;
    }

    a:active,
    a:focus,
    a:hover {
        color: hsl(var(--hsl-l1));
    }

    a:active,
    a:hover {
        outline: 0;
    }

    a:focus {
        outline: 5px auto -webkit-focus-ring-color;
        outline-offset: -2px;
    }

    a:focus,
    a:hover {
        text-decoration: underline;
    }

    /* Spoiler Box */
    .bbcode-spoilerbox__link {
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        background: none;
        border: none;
        color: hsl(var(--hsl-l2));
        display: flex;
        flex-wrap: wrap;
        font-weight: 700;
        margin: 0;
        max-width: 100%;
        outline: none;
        overflow-wrap: anywhere;
        padding: 0;
        text-align: left;
        width: -moz-max-content;
        width: max-content;
    }

    .bbcode-spoilerbox__link-icon {
        display: block;
        flex: none;
        width: 16px;
        height: 16px;
        margin-right: 0.5rem;
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        color: hsl(var(--hsl-c1));
        transition: transform 0.3s;
    }

    .bbcode-spoilerbox__body-content {
        margin-top: 10px;
        padding-left: 20px;
    }

    /* b, s, u, i, em 貌似只有b有专门做样式处理 */
    b,
    strong {
        font-weight: 700;
    }

    /* heading */
    h2 {
        color: hsl(var(--hsl-l1));
        font-size: 1.5em;
        font-style: normal;
        font-weight: 700;
        margin: 10px 0 0;
        font-family: inherit;
        line-height: 1.1;
        display: block;
        margin-block-start: 0.83em;
        margin-block-end: 0.83em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        unicode-bidi: isolate;
    }

    /* spoiler */
    .spoiler {
        background-color: #000 !important;
        color: #000 !important;
    }

    /* img */
    img {
        max-width: 100%;
        vertical-align: middle;
        border: 0;
    }

    /* quote */
    blockquote {
        border: none;
        color: hsl(var(--hsl-c2));
        font-size: inherit;
        padding: 0 0 0 20px;
        position: relative;
        margin: 0 0 20px;
    }

    blockquote:before {
        background-color: hsl(var(--hsl-c2));
        border-radius: 10000px;
        content: "";
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 2px;
    }

    h4 {
        color: hsl(var(--hsl-c1));
        font-size: inherit;
        margin: 0 0 10px;
        font-style: normal;
        font-weight: 700;
        line-height: 1.1;
        font-family: inherit;
    }

    /* well (notice) */
    .well {
        background: hsl(var(--hsl-b5));
        border: 2px solid hsl(var(--hsl-b1));
        margin: 0;
        border-radius: 4px;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
        min-height: 20px;
        padding: 19px;
    }

    /* code */
    pre {
        overflow: auto;
        display: block;
        line-height: 1.25;
        margin: 0 0 10px;
        word-break: break-all;
        word-wrap: break-word;
        background-color: hsl(var(--hsl-b5));
        border: none;
        border-radius: 4px;
        color: inherit;
        font-size: inherit;
        padding: 10px;
        white-space: pre-wrap;
    }

    code,
    kbd,
    pre,
    samp {
        font-family: Menlo, Monaco, Consolas, Courier New, monospace;
    }

    code {
        background: none;
        color: inherit;
        font-size: inherit;
        background-color: hsl(var(--hsl-b5));
        border-radius: 4px;
        padding: 1px 4px;
    }

    /* list */
    ol,
    ul {
        margin-bottom: 10px;
        margin-top: 0;
        padding-left: 20px;
        list-style-type: decimal;
    }

    .unordered {
        list-style-type: disc;
    }

    /* profile */
    .user-name {
        font-weight: 700;
        cursor: pointer;
        position: relative;
    }

    /* youtube */
    .u-embed-wide--bbcode {
        max-width: 425px;
    }
    .u-embed-wide {
        aspect-ratio: 16 / 9;
        display: block;
        width: 100%;
    }
    iframe {
        border-width: initial;
        border-style: none;
        border-color: initial;
        border-image: initial;
    }

    /* audio player */
    .audio-player {
        --current-time: "0:00";
        --duration: "0:00";
        --progress: 0;
        align-items: center;
        background-color: hsl(var(--hsl-b2));
        display: flex;
        font-family: Torus, Inter, Helvetica Neue, Tahoma, Arial, Hiragino Kaku Gothic ProN, Meiryo, Microsoft YaHei, Apple SD Gothic Neo, sans-serif;
        height: 40px;
        max-width: 520px;
        padding: 5px 10px;
        pointer-events: auto;
        position: relative;
        text-align: left;
        width: 100%;

        .audio-player__button--play {
            font-size: 16px;
        }

        .audio-player__button {
            align-items: center;
            appearance: none;
            -webkit-appearance: none;
            -moz-appearance: none;
            background: none;
            border: none;
            color: hsl(var(--hsl-c1));
            display: inline-flex;
            flex: none;
            font-size: 14px;
            justify-content: center;
            margin: 0;
            outline: none;
            padding: 5px;

            :hover {
                color: hsl(var(--hsl-l1));
            }

            .play-button {
                --icon: "\f04b";
                -moz-osx-font-smoothing: grayscale;
                -webkit-font-smoothing: antialiased;
                display: inline-block;
                flex: none;
                font-family: "Font Awesome 6 Free";
                font-style: normal;
                font-variant: normal;
                font-weight: 900;
                line-height: 1;
                position: relative;
                text-rendering: auto;
            }

            .play-button:before {
                content: var(--icon);
            }
        }

        &[data-audio-state="loading"],
        &[data-audio-state="playing"] {
            .audio-player__button .play-button {
                --icon: "\f04c";
            }
        }

        .audio-player__bar--progress {
            --bar: var(--progress);
        }
        .audio-player__bar {
            background-color: hsl(var(--hsl-b6));
            border-radius: 10000px;
            cursor: pointer;
            flex: 1;
            height: 2px;
            margin: 0 5px 0 10px;
            --current-head-opacity: 0;
            --bar: 0;
            position: relative;
            transition: height 0.1s, opacity 0.1s;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;

            .audio-player__bar-current {
                background-color: hsl(var(--hsl-h1));
                border-radius: inherit;
                height: 100%;
                pointer-events: none;
                position: relative;
                width: calc(var(--bar) * 100%);
            }

            .audio-player__bar-current:after {
                background-color: hsl(var(--hsl-h1));
                border-radius: 50%;
                content: "";
                display: block;
                height: 14px;
                opacity: var(--current-head-opacity);
                position: absolute;
                right: -7px;
                top: calc(50% - 7px);
                transition: inherit;
                width: 14px;
            }
        }

        .audio-player__bar:hover {
            height: 4px;

            .audio-player__bar-current:after {
                --current-head-opacity: 1;
            }
        }

        .audio-player__bar:before {
            bottom: -10px;
            content: "";
            display: block;
            left: -5px;
            position: absolute;
            right: -5px;
            top: -10px;
        }

        .audio-player__timestamps {
            display: flex;
            font-size: 12px;
            font-variant-numeric: tabular-nums;

            .audio-player__timestamp {
                margin: 0 5px;
                min-width: 33px;
                text-align: right;
            }

            .audio-player__timestamp--current {
                display: none;
            }

            .audio-player__timestamp-separator {
                display: none;
            }

            .audio-player__timestamp--total {
                color: hsl(var(--hsl-c2));
                --timestamp: "--:--";
            }

            .audio-player__timestamp:before {
                content: var(--timestamp, "");
            }
        }
    }

    .audio-player[data-audio-has-duration="1"] .audio-player__timestamp--current {
        display: block;
    }

    .audio-player[data-audio-has-duration="1"] .audio-player__timestamp--current:before {
        content: var(--current-time);
    }

    .audio-player[data-audio-has-duration="1"] .audio-player__timestamp-separator {
        display: block;
    }

    .audio-player[data-audio-has-duration="1"] .audio-player__timestamp--total:before {
        content: var(--duration);
    }
}

/* profile -> User Card */
.qtip {
    box-shadow: none;
    direction: ltr;
    display: none;
    left: -28000px;
    line-height: 12px;
    padding: 0;
    position: absolute;
    top: -28000px;
    color: hsl(var(--hsl-c1));
}

.qtip--user-card {
    z-index: 512 !important;
    .user-card {
        width: 290px;
    }
}

.qtip-content {
    filter: none;
    overflow: hidden;
    position: relative;
    padding: 5px 9px;
    text-align: left;
    word-wrap: break-word;

    a:active,
    a:hover,
    a:link,
    a:visited {
        outline-style: none;
    }

    *,
    :after,
    :before {
        box-sizing: border-box;
    }

    a {
        color: hsl(var(--hsl-l2));
        outline-style: none;
        text-decoration: none;
        transition: color 80ms linear;
    }

    .user-card {
        --avatar-size: 60px;
        --card-item-spacing: 10px;
        --icon-gutter: 6px;
        --status-icon-margin: 10px;
        background-color: hsl(var(--hsl-b4));
        border-radius: 10px;
        display: inline-block;
        font-family: var(--font-default);
        height: 120px;
        overflow: hidden;
        position: relative;
    }

    .user-card__background-container {
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;

        .user-card__background {
            border-radius: 10px;
            height: 100%;
            left: 0;
            -o-object-fit: cover;
            object-fit: cover;
            position: absolute;
            top: 0;
            transition: opacity 0.22s ease-in-out;
            width: 100%;
        }

        .user-card__background-overlay {
            background: hsla(var(--hsl-b5), 0.7);
            border-radius: 10px;
            height: 100%;
            left: 0;
            position: absolute;
            top: 0;
            width: 100%;
        }
    }

    .user-card__card {
        color: #fff;
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: space-between;
        pointer-events: none;
        position: relative;
        text-decoration: none;
        font-size: 16px;
        line-height: 1.25;

        .user-card__content {
            padding: var(--card-item-spacing);
        }

        .user-card__content--details {
            display: grid;
            grid-template-columns: minmax(min-content, auto) 1fr;

            .user-card__user {
                align-items: center;
                display: flex;
                height: var(--avatar-size);
                min-width: 0;

                .user-card__avatar-space {
                    flex: none;
                    height: var(--avatar-size);
                    position: relative;
                    width: var(--avatar-size);

                    /* TODO: opacity 要来回切 */
                    .user-card__avatar-spinner--loaded {
                        opacity: 0;
                    }
                    .user-card__avatar-spinner {
                        align-items: center;
                        background: hsla(0, 0%, 100%, 0.1);
                        border-radius: 6px;
                        color: #fff;
                        display: inline-flex;
                        font-size: 14px;
                        height: 100%;
                        justify-content: center;
                        left: 0;
                        /* opacity: 0.25; */
                        position: absolute;
                        top: 0;
                        transition: opacity 0.22s ease-in-out;
                        width: 100%;
                    }

                    .la-ball-clip-rotate {
                        display: inline-block;
                        height: 1em;
                        position: relative;
                        width: 1em;
                    }

                    .user-card__avatar--loaded {
                        opacity: 1;
                    }
                    .user-card__avatar {
                        background-color: hsl(var(--hsl-b4));
                        border-radius: 6px;
                        height: 100%;
                        left: 0;
                        -o-object-fit: contain;
                        object-fit: contain;
                        /* opacity: 0; */
                        position: absolute;
                        top: 0;
                        transition: opacity 0.22s ease-in-out;
                        width: 100%;
                    }
                }
            }

            .user-card__details {
                display: grid;
                grid-template-rows: 26px 1fr;
                margin-left: var(--card-item-spacing);

                .user-card__icons {
                    display: flex;
                    flex: none;

                    a.user-card__icon,
                    a.user-card__icon:active,
                    a.user-card__icon:focus,
                    a.user-card__icon:hover {
                        text-decoration: none;
                    }

                    .user-card__icon--flag {
                        font-size: 26px;
                    }

                    .user-card__icon + .user-card__icon {
                        margin-left: var(--icon-gutter);
                    }

                    .user-card__icon {
                        display: flex;
                        pointer-events: auto;

                        .flag-country {
                            --height: 1em;
                            --width-height-ratio: 1.38889;
                            background-position: 50%;
                            background-repeat: no-repeat;
                            background-size: cover;
                            border-radius: 3px;
                            display: block;
                            filter: saturate(1.1);
                            height: var(--height);
                            position: relative;
                            transform: translateZ(0);
                            width: calc(var(--height) * var(--width-height-ratio));
                        }

                        .flag-team {
                            background-color: #333;
                            background-position: 50%;
                            background-repeat: no-repeat;
                            background-size: contain;
                            border-radius: min(0.25em, 6px);
                            display: inline-block;
                            flex: none;
                            height: 1em;
                            width: 2em;
                        }

                        .supporter-icon--user-card {
                            border-radius: 50%;
                            font-size: 13px;
                            height: 26px;
                            padding: 1px 0 0;
                            width: 26px;
                        }
                        .supporter-icon {
                            align-items: center;
                            background-color: hsl(var(--hsl-pink-1));
                            color: #fff;
                            display: inline-flex;
                            justify-content: center;
                            line-height: normal;
                        }

                        .user-action-button {
                            align-items: center;
                            appearance: none;
                            -webkit-appearance: none;
                            -moz-appearance: none;
                            background: none;
                            background: hsl(var(--hsl-b6));
                            border: none;
                            border-radius: 10px;
                            color: #fff;
                            display: inline-flex;
                            display: flex;
                            font-size: 14px;
                            height: 20px;
                            justify-content: center;
                            margin: 0;
                            outline: none;
                            padding: 0;
                            text-align: center;
                            width: 50px;

                            .user-action-button__icon-container {
                                align-items: center;
                                display: inline-flex;
                                justify-content: center;
                                position: relative;
                                width: 50px;

                                .user-card .user-action-button__icon {
                                    will-change: unset;
                                }

                                .user-action-button:hover .user-action-button__icon--hover-hidden,
                                .user-action-button__icon--hover-visible {
                                    opacity: 0;
                                }
                                .user-action-button__icon {
                                    align-items: center;
                                    display: inline-flex;
                                    height: 100%;
                                    justify-content: center;
                                    left: 0;
                                    position: absolute;
                                    top: 0;
                                    width: 100%;
                                    will-change: opacity;
                                }
                            }
                        }

                        .user-action-button:hover {
                            background: hsl(var(--hsl-b5));
                        }

                        button {
                            overflow: visible;
                            text-transform: none;
                            font: inherit;
                            font-family: inherit;
                            line-height: inherit;
                            cursor: pointer;
                        }

                        .user-action-button--user-card {
                            border-radius: 50%;
                            font-size: 13px;
                            height: 26px;
                            width: 26px;
                        }
                        .user-action-button--mutual {
                            background: rgba(255, 102, 170, 0.7);
                        }
                        .user-action-button--mutual:hover {
                            background: rgba(255, 128, 184, 0.7);
                        }
                        .fa-user-friends:before {
                            content: "\f500";
                        }
                        .user-action-button--friend {
                            background: rgba(136, 179, 0, 0.7);
                        }

                        .user-action-button--friend:hover {
                            background: rgba(155, 204, 0, 0.7);
                        }
                        .user-action-button,
                        .user-action-button:active,
                        .user-action-button:focus,
                        .user-action-button:hover {
                            text-decoration: none;
                        }
                    }
                }

                .user-card__username-row {
                    align-items: center;
                    display: flex;
                    font-weight: 600;
                    min-width: 0;

                    .u-ellipsis-pre-overflow {
                        overflow: hidden !important;
                        text-overflow: ellipsis !important;
                        white-space: pre !important;
                    }

                    a {
                        background-color: transparent;
                    }

                    .user-card__username {
                        color: #fff;
                        pointer-events: auto;
                        text-decoration: none;
                    }

                    .user-card__group-badges,
                    .user-card__icon {
                        display: flex;
                        pointer-events: auto;
                    }
                    .user-card__group-badges {
                        margin-left: 3px;
                    }
                }
            }
        }
        .user-card__content--status {
            align-items: center;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding-top: 0;

            .user-card__status {
                align-items: center;
                display: flex;
                min-width: 0;

                .user-card__status-icon-container {
                    align-items: center;
                    display: inline-flex;
                    flex: none;
                    justify-content: center;
                    width: var(--avatar-size);

                    .user-card__status-icon {
                        border: 4px solid #000;
                        border-radius: 50%;
                        height: 25px;
                        width: 25px;
                    }

                    .user-card__status-icon--online {
                        border: 4px solid #b3d944;
                    }
                }

                .user-card__status-messages {
                    display: flex;
                    flex-direction: column;
                    font-size: 14px;
                    margin-left: var(--card-item-spacing);
                    min-width: 0;

                    .user-card__status-message--sub {
                        font-size: 12px;
                    }
                    .u-ellipsis-overflow {
                        overflow: hidden !important;
                        text-overflow: ellipsis !important;
                        white-space: nowrap !important;
                    }
                }
            }

            .user-card__icons {
                display: flex;
                flex: none;

                .user-card__icon {
                    display: flex;
                    pointer-events: auto;
                }
                .user-card__icon--menu {
                    background-color: hsl(var(--hsl-b6));
                    border-radius: 50%;
                    font-size: 10px;
                    height: 25px;
                    position: relative;
                    transition: background-color 0.12s ease-in-out;
                    width: 25px;

                    .popup-menu {
                        appearance: none;
                        -webkit-appearance: none;
                        -moz-appearance: none;
                        background: none;
                        border: none;
                        height: 100%;
                        left: 0;
                        margin: 0;
                        outline: none;
                        padding: 0;
                        position: absolute;
                        top: 0;
                        width: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        .fa-ellipsis-v:before {
                            content: "\f142";
                        }
                    }
                    button {
                        font-family: inherit;
                        font-size: inherit;
                        line-height: inherit;
                        color: #fff;
                        cursor: pointer;
                    }
                }

                .user-card__icon--menu:hover {
                    background-color: hsl(var(--hsl-l1));
                }
            }
        }
    }
}
