name: Deploy
on:
    push:
        branches: main
    pull_request:
        branches: main

jobs:
    deploy:
        name: Deploy
        runs-on: ubuntu-latest

        permissions:
            id-token: write
            contents: read

        steps:
            - name: Clone repository
              uses: actions/checkout@v4
              with:
                  fetch-depth: 0

            - name: Install Deno
              uses: denoland/setup-deno@v2
              with:
                  deno-version: v2.x

            - name: Install Node.js
              uses: actions/setup-node@v4
              with:
                  node-version: lts/*

            - name: Install Yarn
              run: npm install -g yarn

            - name: Install step
              run: "yarn install"

            - name: Build step
              run: "yarn build"

            - name: Copy server file to dist
              run: cp serve.js dist/

            - name: Upload to Deno Deploy
              uses: denoland/deployctl@v1
              with:
                  project: "obeditor"
                  entrypoint: "serve.js"
                  root: "dist"
